body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/Backgrouddddd.jpg') no-repeat center center fixed;
    background-size: cover;
}

.containerlog {
    width: 400px;
    margin: 80px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
}

.name-container {
    display: flex;
    justify-content: space-between;
}

.name-field {
    width: 45%;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: block; 
    width: 70%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    transition: background-color 0.3s ease;
}
.signup-link{
    text-align: center;
}

button:hover {
    background-color: #007bff;
}